@model Bookme.ViewModels.ApplicationUserViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
 .edit-icon {
    background-color: #eee;
    border: 1px solid #e3e3e3;
    border-radius: 24px;
    color: #bbb;
    font-size: 12px;
    line-height: 24px;
    min-height: 26px;
    
    width: 26px;
 }
.edit-icon:hover {
            background-color: #4a0000;
;
	border-color: #8080ff;
    color: #fff;
}
.user-info li b {
margin-left: 10px; /* Adjust the value as needed */
}

</style>



<div id="main">
    <div class="container fluid">
        <div class="container mt-4 p-5">
            <h2 style="color:#4a0000;"><b>Profile</b></h2>
            <div class="row">
                <div class="card shadow col-4 p-5" >
                    <a data-toggle="modal" data-target="#changeimage" onclick="getProfileDetails('@Model?.User?.Id')" class="btn edit-icon" disabled style="margin-left:98%;"><i class="fa fa-pencil"></i></a>
                    @if (Model?.User?.Image != null)
                    {
                        <img class="card-img-top rounded-circle mt-2 h-75 w-80" src="@Model?.User?.Image">
                    }
                    else
                    {
                        <img class="card-img-top  mt-2 w-80" src="~/Images/dm.png">
                    }
                </div>
                <div class="card shadow p-5 col-6" style="color:#4a0000;">
                    <a data-toggle="modal" data-target="#editProfilePix" onclick="getProfileDetails('@Model?.User?.Id')" class="btn edit-icon" disabled style="margin-left:98%;"><i class="fa fa-pencil"></i></a>
                    <ul class="user-info li b">
                        <li>FullName: <b>@Model?.User?.FirstName  @Model?.User?.LastName</b> </li>
                        <li>Address:<b>@Model?.User?.Address</b></li>
                        <li>Email:<b>@Model?.User?.Email</b></li>
                        <li>Phone Number:<b>@Model?.User?.PhoneNumber</b></li>
                        <li>Category:<b>@Model?.User?.Category?.Name</b></li>
                        <li>Price:<b>@Model?.User?.Price</b></li>
                        <li>Bio:<b>@Model?.User?.Bio</b></li>
                        <li>Music Specialization:<b>@Model?.User?.MusicSpecialization</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editProfilePix" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-white">
            <div class="modal-header">
                <h5 class="modal-title" style="color:#4a0000;"><b> Edit Profile </b></h5>
                <button type="button" class="btn-close" style="background-color:#4a0000;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color:#4a0000;">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label">First Name </label>
                        <input class="form-control" type="text" id="profileFirstName" required>
                        <input class="form-control" type="text" id="userId" hidden>
                    </div>
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label">Last Name </label>
                        <input class="form-control" type="text" id="profileLastName" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label">Address </label>
                        <input class="form-control" type="text" id="profileAddress" required>
                    </div>
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label"> Email </label>
                        <input class="form-control" type="text" id="profileEmail" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label">Phone Number </label>
                        <input class="form-control" type="text" id="profilePhoneNumber" required>
                    </div>
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label">Music Specialization </label>
                        <input class="form-control" type="text" id="profileMusicSpecialization" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label">Price </label>
                        <input class="form-control" type="text" id="profilePrice" required>
                    </div>
                    <div class="col-sm-12 col-lg-6">

                        <label class="col-form-label"> Bio </label>
                        <input class="form-control" type="text" id="profileBio" required>
                    </div>
                </div>
                <div class="col-sm-6 m-auto">
                    <div class="mt-3">
                        <button type="button" class="btn btn-primary text-white d-block mx-auto px-4 py-2"
                                id="submit_Btn" style="border-radius: 20px;" onclick="EditProfileDetails()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeimage" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content w-50" >
            <div class="modal-header">
                <h5 class="modal-title" style="color:#4a0000;"> <b> Change Picture </b> </h5>
                <button type="button" class="btn-close" style="background-color:#4a0000;" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                 
                <div class="mt-3">
                    <div>
                        <label class="col-form-label" style="color:#4a0000;">Profile Picture </label>
                         @if (Model?.User?.Image != null)
                    {
                        <img class="card-img-top rounded-circle mt-2 h-75 w-80" src="@Model?.User?.Image">
                    }
                    else
                    {
                        <img class="card-img-top  mt-2 w-80" src="~/Images/dm.png">
                    }
                        <input class="form-control" type="text" id="userId" hidden>
                         <input class="form-control mt-3 col-6 text-primary" type="file" id="profilePicture" required>
                    </div>
                    <button type="button" class="btn text-white d-block mx-auto px-4 py-2 mt-3" style="background-color:#4a0000;"
                            id="" style="border-radius: 20px;" onclick="PostPicture()">
                        Change Picture
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>

