
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="main">
    <div class="containercontainer-fluid mt-5 ml-0">
        <h1>Welcome SuperAdmin !</h1>
        <div class="row">
            <div class="card col-sm-12 col-lg-3 p-3 mx-3 mt-2 text-center">
                <h4>Total Bookings</h4>
                <h6>1</h6>
            </div>
            <div class="card col-sm-12 col-lg-3 p-3 mx-3 mt-2 text-center">
                <h4>Approved Bookings</h4>
                <h6>1</h6>
            </div>
            <div class="card col-sm-12 col-lg-3 p-3 mx-3 mt-2 text-center">
                <h4>Declined Bookings</h4>
                <h6>1</h6>
            </div>
        </div>
    </div>
</div>
